.mobile-tabs {
  display: flex;
  width: min-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mobile-tabs button {
  cursor: pointer;
  width: 40px;
  border-style: none;
  background-color: lightgray;
}

.mobile-tabs button:hover {
  background-color: darkgray;
}
